

<div class="container-fluid">
  <div class="container">
    
    <div class="bus">
      <h3>REGISTRO</h3>
        <form #formRegister="ngForm" (ngSubmit)="onAddUser()">
           
            <div class="form-group">
              <label for="exampleFormControlInput1"><h6>Nombre</h6></label>
              <input type="email" class="form-control" id="exampleFormControlInput1" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1"> <h6>Apellido</h6></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="form-group">
                  <label for="exampleFormControlInput1"> <h6>Correo</h6></label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" name="email" [(ngModel)]="email" required minlength="8" >
                </div>
                
                <div class="form-group">
                  <label for="exampleFormControlInput1"> <h6>Contraseña</h6></label>
                  <input type="password" class="form-control" id="exampleFormControlInput1" name="password" [(ngModel)]="password" required minlength="5"
                  maxlength="10" >
                </div>
                
            
                <div class="opciones">
                  <button type="submit" class="btn btn-success">REGISTRARSE</button>
                </div>
          </form>
          
  </div>
  </div>

  
  </div>