

<div class="container-fluid">
  <div class="container">
    
    <div class="bus">
      <h3>REGISTRO</h3>
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1"><h6>Nombre</h6></label>
              <input type="text" class="form-control" id="exampleFormControlInput1" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1"> <h6>Apellido</h6></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="form-group">
                  <label for="exampleFormControlInput1"> <h6>Correo</h6></label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" >
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1"> <h6>Contraseña</h6></label>
                  <input type="password" class="form-control" id="exampleFormControlInput1" >
                </div>
            
          
          </form>
          <div class="opciones">
              <button type="button" class="btn btn-success">REGISTRARSE</button>
            </div>
  </div>
  </div>

  
  </div>