.imagen{
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  
    border-radius: 3%;
  }
  img {
      display: block;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  
    }
.imagen2{
    width: 30%;
}
    
    .container{
      background-color: #a7d129;
      margin-top: 11%;
      margin-left: auto;
      height: 90%;
      width: 90%;
      padding-top: 1%;
      border-radius: 4%;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 5%;

  
  
    }
    .container-fluid {
      background-color: #282926;
      min-height: 100vh;
  
    }
  
    .row {
     
      margin-right: auto;
      margin-left: auto;
    }
    
 
  
  