<BODY>
    <div class="container-fluid">
      
      <div class="row">
       
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
         
          <div class="container">
              <img class="imagen" src="assets/img/hamb.png" >
              <h4>
                
              </h4>
        </div>
    
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="container">
                <img class="imagen2" src="assets/img/rest.png" >
      
          </div>
        </div>
      </div>
    </div>
    </BODY>
    
    
    