<BODY>
    <div class="container-fluid">
      
      <div class="row">
       
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
         
          <div class="container">
              <img class="imagen" src="assets/img/hamb.png" >
              <p align="center"> <font size="5" color="#a7d129">¿No sabes que comer?</font></p>
              <!-- <p align="center"> <font size="5">¿Se te antoja algo en especial?</font></p> -->
              <p align="center"> <font size="4" color="#a7d129"> Nosotros te ayudamos a conseguir eso que quieres
                  buscando en los menus de nuestros locales registrados.
                 Tambien te mostramos los menus diarios de tus locales de comida favoritos y los cercanos a ti.
                </font> </p>

              
        </div>
    
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="container">
                <img class="imagen2" src="assets/img/rest.png" >
                <p></p>
                <p align="center" ><font size="5" color="#a7d129"> ¿Tienes un local de comida?</font></p>
                <!-- <p align="center"><font size="5"> ¿Quieres hacer crecer tu negocio?</font></p> -->
                <p align="center"><font size="4" color="#a7d129"> Nosotros te ayudamos mostrando tu local a los demas.
                    Donde podras administrar tus menus, mostrando dia a dia lo que ofreces.
                    De esta manera podras conseguir mas clientes para tu local de comida. </font> </p>
          </div>
        </div>
      </div>
    </div>
    </BODY>
    
    
    