
.navbar-expand-md .navbar-brand {
    color: #a7d129; 
  }
  .bg-light {
    background-color: #1b1919 !important;
  }
  a{
      color: #f5db49;
      font-size: 1.2rem;

  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2.0rem;
    font-family: sans-serif;
    
  }
  .navbar-expand-lg .navbar-toggler {
    color: rgba(252, 248, 5, 0.973);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(252, 248, 5, 0.973)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  #footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
 }