.navbar-light .navbar-brand {
    color: #a7d129; 
  }
  .bg-light {
    background-color: #1b1919 !important;
  }
  a{
      color: #f5db49;
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 2.0rem;
    font-family: sans-serif;

   
  }