

<div class="container-fluid">
<div class="container">
  
  <div class="bus">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="¿Que se te Antoja?" aria-label="Search">
    <button type="button" class="btn btn-success">BUSCAR</button>
    
    
    <div class="opciones row">
    <div class="btn-group col-xs-6 col-sm-6 col-md-4 col-lg-4 first-btn" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PRECIO
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#">Dropdown link</a>
          <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
      </div>
      <div class="btn-group col-xs-6 col-sm-6 col-md-4 col-lg-4 other-btn" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LOCAL
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Dropdown link</a>
            <a class="dropdown-item" href="#">Dropdown link</a>
          </div>
        </div>
        <div class="btn-group col-xs-12 col-sm-12 col-md-4 col-lg-4 other-btn" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              CIUDAD
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="#">Dropdown link</a>
              <a class="dropdown-item" href="#">Dropdown link</a>
            </div>
          </div>
        </div>
  </form>
  
</div>


</div>