<BODY>
<div class="container-fluid">
  
  <div class="row">
   
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
     
      <div class="container">
          <img class="imagen" src="assets/img/login.png" >

        <form>
        <div class="form-group ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  ">

          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo">
        </div>
        </div>

        <div class="form-group ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
          </div>

        </div>

      </form>
      <div class="trans row">
          <button type="button" class="btn btn-success b1 col-sm-10 col-lg-8">INICIAR SESION</button>
         
    </div>
    <div class="trans row">
        <button type="button" class="btn btn-success b2 col-sm-10 col-lg-8 b2">REGISTRARSE</button>
    </div>
    </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <img src="assets/img/bolivianfood.jpg" >

    </div>
  </div>
</div>
</BODY>


