
<BODY>
<div class="container-fluid">
  
  <div class="row">
   
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
     
      <div class="container">
          <img class="imagen1" src="assets/img/login.png" >

              <form #formLogin="ngForm" (submit)="onLogin()">

          <div class="form-group ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  ">

          <input [(ngModel)]="email" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo" required>
        </div>
        </div>

        <div class="form-group ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input [(ngModel)]="password"  name="password" type="password" class="form-control" id="inputPassword" placeholder="Contraseña" required>
          </div>

        </div>
        <div class="trans row">
            <button type="submit" class="btn btn-success b1 col-sm-10 col-lg-8">INICIAR SESION</button>
           
      </div>
      </form>
     
    <div class="trans row">
        <button type="button" class="btn btn-success b2 col-sm-10 col-lg-8 b2" routerLink="/registro">REGISTRARSE</button>
      </div>
    </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <img class="img-comida" src="assets/img/bolivianfood.jpg" >

    </div>
  </div>
      
   
  <div class="row">
   
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
       
        <div class="container2">
            <img class="imagen" src="assets/img/hamb.png" >
              <p align="center"> <font size="4" color="#a7d129">Encuentra lo que se te antoja</font></p>
            
         </div>
  
      </div>
      
      
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="container2">
              <img class="imagen2" src="assets/img/rest.png" >
              <p></p>
              <p align="center" ><font size="4" color="#a7d129"> Administra tu local de comida</font></p>
              
            </div>  
      </div>
    



    </div>
</div>
</BODY>


