.container {
    background-color: #a7d129;
    max-width:740px;
    min-height: 80vh;
    border-radius: 4%;
    padding-top: 5%;
}
    
.container-fluid{
    background-color: #282926;
    min-height: 100vh;
    padding-top: 5%;

}

.bus{
    align-content:center;
    width:100%;
    max-width:540px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: center;
}
.btn{
margin-top: 5%;
margin-left: 20%;
margin-right: 20%;
width: 60%;
margin-bottom: 5%;

}
