

<div class="container-fluid">
    <div class="container">
      
      <div class="bus">
        <h3>REGISTRA TU LOCAL</h3>
          <form>
              <div class="form-group">
                <label for="exampleFormControlInput1"><h6>Nombre Local</h6></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="form-group">
                  <label for="exampleFormControlInput1"> <h6>Direccion</h6></label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" >
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1"> <h6>Horario</h6></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" >


                  </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1"><h6>TIPO LOCAL</h6></label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>RESTAURANT</option>
                  <option>PASTELERIA</option>
                  <option>SNACK</option>
                  <option>CAFE</option>
                  <option>HELADERIA</option>
                  <option>PANADERIA</option>
                  <option>OTROS</option>

                </select>
              </div>
            
            </form>
            <div class="opciones">
                <button type="button" class="btn btn-success">REGISTRAR</button>
              </div>
    </div>
    </div>

    
    </div>